* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1 {
  color: #426696;
  font-weight: 600;
  font-size: 1.5rem;
  opacity: 0.8;
}
h2,
p {
  color: #658ec6;
  font-weight: 500;
  opacity: 0.8;
}

h3 {
  color: #426696;
  font-weight: 600;
  opacity: 0.8;
  font-size: 1rem;
}
.main-container {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  background: linear-gradient(to right top, #65dfc9, #6cdbeb);
  display: flex;
  align-items: center;
  justify-content: center;
}
.glass {
  background: white;
  min-height: 80vh;
  width: 60%;
  margin: 20px auto;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  border-radius: 2rem;
  z-index: 2;
  backdrop-filter: blur(2rem);
  display: flex;
}
.circle1,
.circle2 {
  background: white;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.3)
  );
  height: 20rem;
  width: 20rem;
  position: absolute;
  border-radius: 50%;
}

.circle1 {
  top: 5%;
  right: 15%;
}
.circle2 {
  bottom: 5%;
  left: 10%;
}
.dashboard {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  border-radius: 2rem;
}
.dashboard > a {
  width: 100px;
  height: 100px;
  text-decoration: none;
  padding: 0.5rem;
  border-radius: 0.5rem;
}
.dashboard > a:hover {
  box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.212);
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.card-image {
  height: 50px;
  width: 50px;
}
.card-text {
  font-size: 0.7rem;
}
.info {
  flex: 2;
  margin: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.home-image {
  width: 300px;
  height: 300px;
  margin: 20px auto;
  border: 2px solid #65dfc9;
}
.home-text {
  line-height: 1.7rem;
  font-weight: 0.8rem;
  text-align: justify;
}
.detail-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0px 20px;
  flex: 1;
}
.detail-text {
  font-weight: 700;
  font-size: 2rem;
}
.detail-image {
  height: 200px;
  width: 200px;
}
.detail-description {
  width: 450px;
  text-align: justify;
  line-height: 1.5rem;
  font-size: 0.9rem;
}
.button-container {
  display: flex;
  align-items: space-between;
  justify-content: center;
  margin: 10px auto;
}
.navigation-button {
  padding: 15px;
  margin: 10px 5px;
  border-radius: 1rem;
  border: none;
  outline: none;
  background-color: #65dfc9;
  color: rgba(255, 255, 255, 0.9);
}
.navigation-button:hover {
  cursor: pointer;
  box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.212);
}
.inner-detail-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  flex: 1;
}
.inner-detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  flex: 1;
}
.inner-detail-description {
  width: 450px;
  text-align: justify;
  line-height: 1.5rem;
  font-size: 0.9rem;
  padding: 10px;
}
.inner-detail-image {
  height: 200px;
  width: 200px;
}
.inner-detail-text-container {
  text-align: left;
  display: flex;
  flex-direction: column;
  margin: 10px auto;
}
.inner-detail-text {
  text-align: left;
}
/* Nested Bar */
.nested-navbar-container {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  max-width: 400px;
  border-radius: 5px;
  margin-bottom: 15px;
}
.nested-navbar-container > a {
  width: 100px;
  height: 100px;
  text-decoration: none;
  padding: 0.5rem;
}
.nested-navbar-container > a:hover {
  box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.212);
}
.nested-navbar-inner-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100px;
}
.nested-navbar-image {
  width: 65px;
  height: 50px;
  margin: 5px 5px;
  border-radius: 5px;
  border: 1px solid #65dfc9;
}
.nested-navbar-text {
  width: 80px;
  font-size: 10px;
  color: #658ec6;
  font-weight: 500;
  opacity: 0.8;
}
/* Nested Content */
.nested-content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  flex: 1;
  min-height: 300px;
  text-align: justify;
}
.nested-brand-name {
  color: #426696;
  font-weight: 600;
  font-size: 1.5rem;
  opacity: 0.8;
  margin: 20px auto;
}
.nested-brand-image {
  border-radius: 10px;
  height: 200px;
  width: 250px;
  margin: 0px auto 20px;
}
.nested-brand-article {
  margin: 10px auto;
  padding: 0px 5px;
}
@media (max-width: 768px) {
  .glass {
    min-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .dashboard {
    max-width: 800px;
    flex-direction: row;
    margin: 0px 10px;
  }
}

@media (max-width: 600px) {
  .glass {
    min-width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .dashboard {
    max-width: 320px;
    flex-direction: row;
    margin: 0px 10px;
  }
  .detail-container {
    max-width: 320px;
  }
  .detail-description {
    max-width: 300px;
  }
  .circle1,
  .circle2 {
    display: none;
  }
  .inner-detail-container {
    max-width: 300px;
  }
  .inner-detail {
    max-width: 300px;
  }
  .inner-detail-description {
    max-width: 300px;
  }
}
